<% layout('layout2') %>

<div id="wrapper">

    <% include ../partials/sidebar %>


    <div id="page-content-wrapper">
      
       <% include ../partials/navbar %>
       
        <div class="container-fluid main_body">
              
            <div class="ul_links">
                <ul>
                    <li><a href="/home">Home</a></li> |
                    <li><a href="">School</a></li> |
                    <li><a href="#">Register School</a></li>
                </ul>
            </div>
            <br>
           
           
            <div class="bodyDiv">
                <% if(noErrors) {%>
                    <div class="alert alert-success">
                       <a href="#" class="close" data-dismiss="alert" aria-label="close">
                           &times;
                       </a>
                       <%= success %>

                    </div>
                <% } %>
               
                <h4>Register Company</h4>
                
                <form method="POST" action="/company/create">

                    <div class="form-group ">
                        <label for="">School Name</label>
                        <span id="errorMsg1"></span>
                        <input id="name" class="form-control" name="name" type="text" style="margin-bottom:20px;">
                    </div>

                    <div class="form-group ">
                        <label for="">Address</label>
                        <span id="errorMsg2"></span>
                        <input id="address" class="form-control" name="address" type="text" style="margin-bottom:20px;">
                    </div>

                    <div class="form-group ">
                        <label for="">City</label>
                        <span id="errorMsg3"></span>
                        <input id="city" class="form-control" name="city" type="text" style="margin-bottom:20px;">
                    </div>

                    <div class="form-group ">
                        <label for="">Country</label>
                        <span id="errorMsg4"></span>
                        <input id="country" class="form-control" name="country" type="text" style="margin-bottom:20px;">
                    </div>

                    <div class="form-group ">
                        <label for="">Year Approved</label>
                        <span id="errorMsg5"></span>
                        <input id="sector" class="form-control" name="sector" type="text" style="margin-bottom:20px;">
                    </div>
                    
                    <div class="form-group">
                    
                                <label for="curriculum">School Curriculum:</label>

                                <select name="curriculum" id="fees"><option value="" selected="selected">Select Your Curriculum</option><option value="American">American</option><option value="American Nigerian">American Nigerian</option><option value="British">British</option><option value="British American">British American</option><option value="British Nigerian">British Nigerian</option><option value="Nigerian">Nigerian</option><option value="Montessori">Montessori</option><option value="French">French</option><option value="Turkish">Turkish</option><option value="Canadian English">Canadian English</option><option value="Canadian Nigerian">Canadian Nigeria</option><option value="Saudi English">Saudi English</option><option value="Indian">Indian</option><option value="STEM">STEM</option><option value="Broadbased">Broadbased</option></select>

                         
                                                         <div class="clearfloat"></div>
                        </div>
                    
                     <div class="form-group">
                 <label for="website">School Facilities:</label>
                 
                            
                            <div class="input select"><input type="hidden" name="facilities[_ids]" value=""><div class="checkbox"><label for="facilities-ids-10"><input type="checkbox" name="facilities[_ids][]" value="10" id="facilities-ids-10">Good Multipurpose hall</label></div><div class="checkbox"><label for="facilities-ids-11"><input type="checkbox" name="facilities[_ids][]" value="11" id="facilities-ids-11">Standard ICT Centre</label></div><div class="checkbox"><label for="facilities-ids-13"><input type="checkbox" name="facilities[_ids][]" value="13" id="facilities-ids-13">Sport Complex/Play Ground</label></div><div class="checkbox"><label for="facilities-ids-14"><input type="checkbox" name="facilities[_ids][]" value="14" id="facilities-ids-14">Good &amp; Standard Library</label></div><div class="checkbox"><label for="facilities-ids-15"><input type="checkbox" name="facilities[_ids][]" value="15" id="facilities-ids-15">Swimming Pool</label></div><div class="checkbox"><label for="facilities-ids-16"><input type="checkbox" name="facilities[_ids][]" value="16" id="facilities-ids-16">School Bus Service</label></div><div class="checkbox"><label for="facilities-ids-17"><input type="checkbox" name="facilities[_ids][]" value="17" id="facilities-ids-17">Good &amp; Standard Laboratory</label></div><div class="checkbox"><label for="facilities-ids-39"><input type="checkbox" name="facilities[_ids][]" value="39" id="facilities-ids-39">Zoological/Botanical Garden</label></div><div class="checkbox"><label for="facilities-ids-40"><input type="checkbox" name="facilities[_ids][]" value="40" id="facilities-ids-40">Sick Bay</label></div><div class="checkbox"><label for="facilities-ids-41"><input type="checkbox" name="facilities[_ids][]" value="41" id="facilities-ids-41">Interactive Whiteboard</label></div><div class="checkbox"><label for="facilities-ids-44"><input type="checkbox" name="facilities[_ids][]" value="44" id="facilities-ids-44">Children with Special needs</label></div><div class="checkbox"><label for="facilities-ids-47"><input type="checkbox" name="facilities[_ids][]" value="47" id="facilities-ids-47">Lunch Programme</label></div></div>                             
                             <div class="clearfloat"></div>
                </div>
                    

                    <div class="form-group ">
                        <label for="">Website</label>
                        <span id="errorMsg6"></span>
                        <input id="website" class="form-control" name="website" type="text" style="margin-bottom:20px;">
                    </div>
                    
                    <div class="form-group ">
                        <label for="">Company Image</label><br>
                        
                        <button class="btn btn-lg" type="button" data-toggle="modal" data-target="#file">Add File</button>
                        <span id="completed"></span>
                        
                        <div id="file" class="modal" tabindex="-1" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" id="close" class="close" data-dismiss="modal">&times;</button>
                                        <div class="modal-title">Upload Image</div>
                                    </div>
                                    
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar"></div>
                                            </div>
                                            
                                            <button class="btn btn-lg upload-btn" type="button">Upload File</button>
                                            <input type="file" class="form-control" name="upload" id="upload-input" style="display:none">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>


                    <div class="form-group">
                        <input type="submit" id="register" value="Register" class="form-control btn btn-primary" name="register" style="">
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>

<!--<script src="/js/validate.js"></script>-->


















































